/*custom css*/
.grey{
	background-color: #ccc;
}
.box{
	border: 1px solid;
    border-radius: 12px;
    padding: 15px;
    margin: 2.5px;
    box-shadow: 10px 10px 5px #888888;
}


#slider {    
	width: 100%;     
	height: 275px;     
	position: relative; 	
	overflow: hidden; 
}

#sliderContent {
	position: absolute;	   
	top: 0;	 
	margin-left: 0;
	list-style-type: none;
}

.sliderImage {
	float: left;    
	position: relative;	
	display: none;
}

.sliderImage span {	
	margin:8px;
	position: absolute;	
	font: 12px/14px Arial, Helvetica, sans-serif;	
	letter-spacing:1.5px;	
	line-height:20px;
	padding: 20px 40px 70px 40px; 
	background-color: #fff;    
	filter: alpha(opacity=70);    
	-moz-opacity: 0.7;	
	-khtml-opacity: 0.7;	
	opacity: 0.7;    
	color: #000;    
	display: none; 
}

.sliderImage span a {
	color:#FFF; 

}		

.clear {
	clear: both;
}

.sliderImage span strong  { 
	color:#FFF;
	font-size: 14px;
}

.bottom { 
	bottom: 0;    
	left: 0; 
}

.titles{
	text-align:left;
}

.wesreisz{
	font-weight: bold !important;
	letter-spacing: -2px;
    font: 400 20px/1.2 'Merienda One', Helvetica, sans-serif;
	color: rgba(0,0,0,0.7);
	text-shadow: 3px 3px 3px #fff;
}

@media(max-width:950px) {
    #slider {    
		width: 700px;     
		height: 200px;
	}
	.titles{
		text-align:center;
	}
}

@media(max-width:767px) {
    #slider {    
		width: 500px;     
		height: 155px;
	}
	.bottom{	
		display: none !important; 
	}
}

@media(max-width:400px) {
	#slider {    
		width: 325px;     
		height: 110px;
		text-align:center;
		display: block;
	}
	.bottom {	
		display: none !important; 
	}
}
